################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FriendStorage/.vs
/FriendStorage/.vs/*
/FriendStorage/FriendStorage.DataAccess/bin
/FriendStorage/FriendStorage.Model/bin
/FriendStorage/FriendStorage.UI/bin
/FriendStorage/FriendStorageUITests/bin
/FriendStorage/FriendStorage.UI/obj
*.ide